@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    background-color: beige;
    display: flex;
    gap: 10px;
    grid-gap: 10px;
}


.logo {
    width: 500px;
    
}

.code {
    display: flex;
    list-style-type: none;
    gap: 10px;
    grid-gap: 10px;

}

.navcode {
    align-items: center;
    display: flex;
}

.code_item a{
    text-decoration: none;
    background-color: gray;
    border: 2px solid black ;
    color: beige;
    padding: 1rem;
    border-radius: 10px;
}

.code_item a:hover {
    background-color: beige;
    border: 2px solid black ;
    color: black;
    transition: background 1s, color 2s;

}


.code_item.active a {
    text-decoration: none;
}

.main {
    width: 100%;
    height: 100vh;
    display: grid;
    background-color: white;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: 
    "caja1  caja2"
    "caja3  caja3"
    ;
}

.img_normal {
    width: 50%;
    height: 400px;
    border-radius: 20px;
    
}



.caja1 {
    grid-area: caja1;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px;
    gap: 10px;
    
}

.titulo {
    text-align: center;
}

.caja2 {
    grid-area: caja2;
    width: 100%;
    height: 100%;
    display: flex;
    padding : 15px;

}

.texto-caja-top {
    text-align:justify;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 20px;
    margin-left: 10px;
}


.caja3 {
    grid-area: caja3;
    width: 100%;
    padding: 10px;
}


.texto {
    font-size: 20px;
}

.creador {
    background-color: beige;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 40px;
    width: 700px;
    height: 350px;
    overflow:scroll;
    margin-left: 30%;
    border-radius: 20px;
}


.img-creador {
    width: 300px;
    height: 200px;
    margin-left: 25%;
    padding-bottom: 10px;
    
}

.title-creador {
    font-size: 20px;
    text-align: center;
}

.text-creador {
    text-align: justify;
}


.footer {
    background-color: beige;
    display: flex;
    justify-content: space-around;
    padding-block: 20px;
    text-align: center;
    border: white solid 5px;
}



/*** animaciones, transiciones, etc***/

.caja1:hover,
.caja2:hover,
.caja3:hover {
    transform: scale(1.0) translateY(-1px);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(190, 145, 21, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.caja1,
.caja2,
.caja3 {
    transition: all 1s ;
}


.caja1 {
    -webkit-animation: bounce-in-top 1.1s both;
	animation: bounce-in-top 1.1s both;
    animation-delay: 1s;
}

.caja2 {
    -webkit-animation: bounce-in-top 1.1s both;
	animation: bounce-in-top 1.1s both;
    animation-delay: 1.5s;
}

.caja3 {
    -webkit-animation: bounce-in-top 1.1s both;
	animation: bounce-in-top 1.1s both;
    animation-delay: 2s;
}

.creador:hover {
    transform: scale(1);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;}


.creador {
    transition: all 1s;
}



 @-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
header {
    animation:roll-in-left .6s ease-out both
}


 @keyframes roll-in-left{0%{transform:translateX(-800px) rotate(-540deg);opacity:0}100%{transform:translateX(0) rotate(0deg);opacity:1}}